*{
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

.container{
    max-width: 1050px;
    width: 90%;
    margin: auto;
}

body{
    font-family: 'Poppins', sans-serif;
}

.navbar{
    box-shadow: 0px 2px 5px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.85;
    z-index:999;
}

.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    margin: 0 200px;
}

.menu-items ul{
list-style: none;
display: flex;
gap: 2rem;
margin: 0 50px;
}

.menu-items ul li a {
    all: unset;
}

.menu-items li{
    font-size: 1.5rem;
}
.logo{
    font-size: 2rem;
}

.navbar a{
    color: #444;
}

.navbar a:hover{
    color: #117964;
    transition: 0.5ms;
}



/* Showcase area */

.shocase-area{
    height: 50vh;
    background-image: linear-gradient( rgba(240,240,240,0.144),rgba(255,255,255,0.5)),url(".//images/showcase.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.showcase-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5rem;
}

.showcase-container{
    text-transform: uppercase;
}

.showcase-container p{
    margin-top: 20px;
    color: #fff;
}

.btn{
    display: inline-block;
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;
}

.btn-primary{
    color: #fff;
    background-color: #16a083;
}


/* cards */

.hero2{
    margin-top: 10%;
    width: 100%;
    height: 600px;
    background-image: linear-gradient( rgba(240,240,240,0.144),rgba(255,255,255,0.5)),url(./images/hero2.jpg);
    background-size: cover;
border-radius: 10px;
}

.hero2 h2{
    text-align: center;
    padding: 25px 0px;
    font-size: 50px;
    color: #fff;
}

.hero2-container{
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    display: flex;

}

.hero2-container img{
    width: 100%;
    border-radius: 10px;
}

.Card-prop{
    width: 30%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
}

  img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }


.history{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  .history-btn{
    all: unset;
    margin-top: 10px;
    font-size: 5rem;
    color: #fff;
    display: inline-block;
    text-transform: capitalize;
    font-size: 50PX;
  }

  .history-btn:hover{
    color: #0000005a;
  }

.footer {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    background: #fff;
    box-shadow: 0px 2px 5px 0px #aaa;
    text-align: center;
}

.footer p{
    margin-top: 15px;
    font-size: 20px;
    width: 100%;
  color: #000;
    opacity: 0.85;
    z-index:999;
}